<% provide(:title, 'ログイン') %>
<nav>
  <div>
    <%= link_to 'タイトル', root_path %>
  </div>
  <ul>
    <li><%= link_to 'リンク１', main_home_path %></li>
    <li><%= link_to 'リンク２', login_show_path %></li>
    <li><a href="#">リンク３</a></li>
  </ul>
</nav>

<script>
$(function(){
  if(<%= @user.errors.details[:name].any? %>){
    $("#user_name").addClass("is-invalid");
    $("#user_name").parent().next().addClass("d-block");
  }
  if(<%= @user.errors.details[:password].any? %>){
    $("#user_password").addClass("is-invalid");
    $("#user_password").parent().next().addClass("d-block");
  }
})
</script>

<div class="headline">
  <div class="inner">
    <div class="title">
      <h1>知らない!?</h1>
    </div>
    <div class="forms-wrapper">
      <!--新規登録-->
      <div class="signup-wrapper">
        <div class="form-wrapper">
          <h2>はじめて</h2>
          <%= form_with model: @user, url: login_signup_path, local: true do |f| %>
            <div class="form-group">
              <%= f.text_field :name, class: 'form-control', placeholder: 'ユーザー名' %>
              <div class="invalid-feedback text-left">
                <%= @user.errors.messages[:name][0] %>
              </div>
            </div>
            <div class="form-group">
              <%= f.text_field :password, class: 'form-control', placeholder: 'パスワード' %>
              <div class="invalid-feedback text-left">
                <%= @user.errors.messages[:password][0] %>
              </div>
            </div>
            <div class="button-panel">
              <%= f.button "新規登録", class: "btn btn-danger btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <!--ログイン-->
      <div class="signin-wrapper">
        <div class="form-wrapper">
          <h1>ログイン</h1>
          <%= form_with model: @user, url: login_signin_path, local: true do |f| %>
            <div class="form-item">
              <div>名前</div>
              <%= f.text_field :name %>
            </div>
            <div class="form-item">
              <div>パスワード</div>
              <%= f.text_field :password %>
            </div>
            <div class="button-panel">
              <%= f.button "ログイン", class: "button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= @user.errors.any? %>
<% if @user.errors.any? %>
あいうえお
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
<div style="width:200px;">
  <p>なんか書いとけ。スクロールさせるだけの分量を書かないと。
  「あ」でうめよう。あああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ</p>
  <%= @v %><br>
  <%= @yes =%>
</div>
