<% provide(:title, 'ログイン') %>
<nav class="navbar navbar-expand-lg sticky-top">
  <%= link_to 'タイトル', root_path, class: "navbar-brand" %>
  <div class="navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <%= link_to 'リンク１', main_home_path, class: "nav-item nav-link" %>
      <%= link_to 'リンク２', login_show_path, class: "nav-item nav-link" %>
      <a class="nav-item nav-link" href="#">リンク３</a>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<script>
$(function(){
  if(<%= @new_user.errors.details[:name].any? %>){
    $("#new_user_name").addClass("is-invalid");
    $("#new_user_name").parent().next().addClass("d-block");
  }
  if(<%= @new_user.errors.details[:password].any? %>){
    $("#new_user_password").addClass("is-invalid");
    $("#new_user_password").parent().next().addClass("d-block");
  }
  if(<%= @user.errors.details[:name].any? %>){
    $("#user_name").addClass("is-invalid");
    $("#user_name").parent().next().addClass("d-block");
  }
  if(<%= @user.errors.details[:password].any? %>){
    $("#user_password").addClass("is-invalid");
    $("#user_password").parent().next().addClass("d-block");
  }
})
</script>

<div class="headline">
  <div class="inner">
    <div class="title">
      <h1>知らない!?</h1>
    </div>
    <div class="forms-wrapper">
      <!--新規登録-->
      <div class="signup-wrapper">
        <div class="form-wrapper">
          <h2>はじめて</h2>
          <%= form_with model: @new_user, scope: :new_user, url: login_signup_path, local: true do |f| %>
            <div class="form-group">
              <%= f.text_field :name, class: 'form-control', placeholder: 'ユーザー名' %>
              <div class="invalid-feedback text-left">
                <%= @new_user.errors.messages[:name][0] %>
              </div>
            </div>
            <div class="form-group">
              <%= f.text_field :password, class: 'form-control', placeholder: 'パスワード' %>
              <div class="invalid-feedback text-left">
                <%= @new_user.errors.messages[:password][0] %>
              </div>
            </div>
            <div class="button-panel">
              <%= f.button "新規登録", class: "btn btn-danger btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <!--ログイン-->
      <div class="signin-wrapper">
        <div class="form-wrapper">
          <h2>ログイン</h2>
          <%= form_with model: @user, url: login_signin_path, local: true do |f| %>
            <div class="form-group">
              <%= f.text_field :name, class: 'form-control', placeholder: '名前' %>
              <div class="invalid-feedback text-left">
                <%= @user.errors.messages[:name][0] %>
              </div>
            </div>
            <div class="form-group">
              <%= f.text_field :password, class: 'form-control', placeholder: 'パスワード' %>
              <div class="invalid-feedback text-left">
                <%= @user.errors.messages[:password][0] %>
              </div>
            </div>
            <div class="button-panel">
              <%= f.button "ログイン", class: "btn btn-danger btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width:200px;">
  <p>なんか書いとけ。スクロールさせるだけの分量を書かないと。
  「あ」でうめよう。あああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ
  あああああああああああああああああああああああああああああ</p>
  <%= @v %><br>
  <%= @yes =%>
</div>
